extends ./layout.jade

block title
  title Product Details

block content
  include ./navbar.jade
  .container
    !=messages('expressMessagesTemplate',locals)
    .row.well(style="margin-top:50px;background-color:#EAEDDF")
      h1(style='text-align:center')  Product Details
      .col-lg-6
        .card.mt-4
          img.card-img-top.img-fluid.img-responsive(src='#{result.productImageAddress}', alt='', width='400', height='300')
      .col-lg-6
          .card-body
            h3.card-title #{result.productName}
            h4 Rs.#{result.productPrice}
            h5  Sold By #{result.productSellerName}
            h3 Only 2 left in stock.
            h5 Product Description
            ul
            each val in result.productDescription
              li #{val}
            h5 Product Properties
            ul
            each key,val in result.productProperties
              li #{val}: #{key}
            br
            a.btn.btn-primary(href='/cart/#{result._id}', role='button') Add this product to cart
