extends ./layout.jade

block title
  title  Update Product Details

block content
  include ./navbar.jade
  .container.well(style='margin-top:30px;background-color:rgb(231,226,214)')
    ul
    if(validationErrors)
      each error in validationErrors
        li.alert.alert-danger #{error.msg}
    h3 Kindly update the Product details!!
    form.form-horizontal(action='/productUpdate/#{result._id}',method='post')
      .form-group
        label.control-label.col-sm-2(for='firstName') ProductName:
        .col-sm-10
          input#email.form-control(type='text', name='productName',value='#{result.productName}')
      .form-group
        label.control-label.col-sm-2(for='ProductCategory') ProductCategory:
        .col-sm-10
          select.form-control(name="productCategory")
            option Electronics
            option Footwear
            option Clothes
      .form-group
        label.control-label.col-sm-2(for='productPrice') ProductPrice:
        .col-sm-10
          input#email.form-control(type='text', name='productPrice',value='#{result.productPrice}')
      .form-group
        label.control-label.col-sm-2(for='productSellerName') ProductSellerName:
        .col-sm-10
          input#pwd.form-control(type='text', name='productSellerName',value='#{result.productSellerName}')
      .form-group
        label.control-label.col-sm-2(for='productDescription') ProductDescription:
        .col-sm-10
          each val in result.productDescription
            textarea.form-control(rows='3',name='productDescription') #{val}
            br
      .form-group
        label.control-label.col-sm-2(for='productColor') ProductColor:
        .col-sm-10
          input#pwd.form-control(type='text', value='#{result.productProperties.color}', name='productColor')
      .form-group
        label.control-label.col-sm-2(for='productMaterial') ProductMaterial:
        .col-sm-10
          input#pwd.form-control(type='text', value='#{result.productProperties.material}', name='productMaterial')
      .form-group
        label.control-label.col-sm-2(for='productQuality') ProductQuality:
        .col-sm-10
          select.form-control(name='productQuality')
            option High
            option Medium
            option Low
      .form-group
        .col-sm-offset-2.col-sm-10
          button.btn.btn-default(type='submit') Submit
